{
 :namespace Trivial
 :file trivial.cs
 :extern trivial.msg
 :const {                      
         :time (DateTime DateUtc (> DateTime.MinValue))
         :tenant (TenantId TenantId (and NotNull (.Value (> 0))))
         :username (string UserName (and NotNull (.Length (and (< 24) (> 3)))))
         :roles ([string] Roles (and NotNull (.Length (< 16))))
         :user (UserId UserId (and NotNull (.Value (> 0))))
         }
 :aggs
 [
  {
   :name Account
   :cmd IAccountCommand
   :evt IAccountEvent
   :common [:tenant]
   :messages
   [
    
    (cmd AddUser (:username :roles))
    (evt UserAdded (:user :username :roles :time))

    (cmd UpdateUserRoles (:user :roles))
    (evt UserRolesUpdated (:user :username :roles :time))

    (cmd DeleteUser (:user))
    (evt UserDeleted (:user :username :roles :time))
    ]
   }
  ]
 }
