{
 :namespace Trivial
 :file trivial.cs
 :extern trivial.msg
 :const {                      
         :time (DateTime DateUtc (> DateTime.MinValue))
         :tenant (TenantId TenantId (and NotNull (.Value (> 0))))
         :username (string UserName (and NotNull (.length (< 24))))
         :roles ([string] Roles)
         :user (UserId UserId NotNull)
         }
 :aggs
 [
  {
   :name Account
   :cmd IAccountCommand
   :evt IAccountEvent
   :common [:tenant]
   :messages
   [
    
    (cmd AddUser (:username :roles))
    (evt UserAdded (:user :username :roles :time))

    (cmd UpdateUserRoles (:user :roles))
    (evt UserRolesUpdated (:user :username :roles :time))

    (cmd DeleteUser (:user))
    (evt UserDeleted (:user :username :roles :time))
    ]
   }
  ]
 }
