{
 :namespace Trivial
 :file trivial.cs
 :extern trivial.msg
 :schema {
          :date (> DateTime.MinValue)
          :positiveId (and NotNull (.Value (> 0)))
          :username (and NotNull (.Length (and (< 24) (> 3))))
          :refInfo (and NotNull (.TenantId :positiveId) (.SentUtc :date))
          }
 :const {                      
         :time (DateTime DateUtc :date)
         :tenant (TenantId TenantId :positiveId)
         :username (string UserName :username)
         :roles ([string] Roles (and NotNull (.Length (< 16))))
         :user (UserId UserId :positiveId)
         :refInfo (RefInfo RefInfo :refInfo)
         }
 
 :aggs
 [
  {
   :name Account
   :cmd IAccountCommand
   :evt IAccountEvent
   :common [:tenant]
   :messages
   [
    
    (cmd AddUser (:username :roles))
    (evt UserAdded (:user :username :roles :refInfo))

    (cmd UpdateUserRoles (:user :roles))
    (evt UserRolesUpdated (:user :username :roles :time))

    (cmd DeleteUser (:user))
    (evt UserDeleted (:user :username :roles :time))
    ]
   }
  ]
 }
